body {
    font-family: "Courier New", monospace;
    margin: auto;
    padding: 15px;
    background-color: #FEF1DC;
}

.Paper {
    background-image: url("/assets/paperbg.jpg");
    background-size: cover;
    padding-block: 1em;
    box-shadow:  3px 3px 10px black;
}

.TitleSection {
    margin-block: 0 1em;
    margin-inline: 1.5em 0;
}

.Name {
    margin-block: 0;
}

.Job {
    margin-block: 0;
}

.BodySection {
    display: flex;
    flex-direction: row;
    border-top: 1px solid;
    margin-inline: 1em;
}

.Header {
    min-width: 200px;
    margin-block: .5em;
    border-right: 1px solid;
    flex: 0 0 200px;
    text-align: center;
}

.ItemCard {
    margin-block: 1em 1em;
    margin-inline: 1em 0;
}

.Who {
    font-size: 1.3em;
    margin-block: 0 .1em;
}

.What {
    margin-block: 0 .2em;
}

.WhenAndWhere {
    margin-block: 0;
}

.Description {
    margin-block: .5em;
}

.RelatedCourses {
    margin-block: 1em .5em;
}

.RelatedCoursesList {
    margin-block: .5em 0;
}