body {
    font-family: "Courier New", monospace;
    margin: auto;
    background-color: black;
}

.FolderTabs {
    margin-block: 5px 0;
}

.Folder {
    background-color: #fff0dc;
    padding-block: 25px;
}

.Tab {
    position: relative;
    display: inline-block;
    background-image: url("/assets/Tab.svg");
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    margin-bottom: -1px;
}

.TopTab {
    z-index: 3;
    font-weight: 900;
}

.ResumeTab {
    margin-inline: 40px 0;
}

.MusicTab {
    margin-left: -40px;
}

.Paper {
    background-image: url("/assets/paperbg.jpg");
    background-size: cover;
    padding-block: 1em;
    box-shadow:  3px 3px 5px black;
    margin: 0 20px;
}

.TitleSection {
    margin-block: 0 1em;
    margin-inline: 1.5em 0;
}

.Name {
    margin-block: 0;
}

.Job {
    margin-block: 0;
}

.BodySection {
    display: flex;
    flex-direction: row;
    border-top: 1px solid;
    margin-inline: 1em;
}

.Header {
    min-width: 200px;
    margin-block: .5em;
    border-right: 1px solid;
    flex: 0 0 200px;
    text-align: center;
}

.ItemCard {
    margin-block: 1em 1em;
    margin-inline: 1em 0;
}

.Who {
    font-size: 1.3em;
    margin-block: 0 .1em;
}

.What {
    margin-block: 0 .2em;
}

.WhenAndWhere {
    margin-block: 0;
}

.Description {
    margin-block: .5em;
}

.RelatedCourses {
    margin-block: 1em .5em;
}

.RelatedCoursesList {
    margin-block: .5em 0;
}