body {
    font-family: "Courier New", monospace;
    margin: auto;
    background-color: black;
    max-width: 1200px;
}

.FolderTabs {
    margin-block: 5px 0;
}

.Folder {
    background-color: #fff0dc;
    padding-block: 25px;
    border-radius: 8px;
}

.Tab {
    position: relative;
    display: inline-block;
    background-image: url("/assets/Tab.svg");
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    margin-bottom: -1px;
}

.TopTab {
    z-index: 3;
    font-weight: 900;
}

.FirstTab {
    margin-inline: 50px 0;
}

.NextTabs {
    margin-left: -40px;
    z-index: 2;
}

.BottomTab {
    z-index: 1;
}

.Paper {
    background-image: url("/assets/paperbg.jpg");
    background-size: cover;
    padding: 50px 80px;
    box-shadow:  3px 3px 5px black;
    margin: 0 40px;
    min-height: 1200px;
    text-shadow: 1px 1px 1px #eddbb9;
}

.TitleSection {
    text-align: center;
    border-top: 1px solid;
    padding-block: 12px;
}

.BodySection {
    border-top: 1px solid;
    padding: 8px;
}

.Title {
    margin-block: 0;
}

.Subtitle {
    margin-block: 2px 0;
}

.ResumeSection {
    display: flex;
    flex-direction: row;
}

.Header {
    min-width: 200px;
    margin-block: 12px;
    border-right: 1px solid;
    flex: 0 0 200px;
    text-align: center;
}

.ItemCard {
    margin-block: 16px;
    margin-inline: 20px 0;
}

.Who {
    font-size: 20px;
    margin-block: 0 1px;
}

.What {
    margin-block: 0 3px;
}

.WhenAndWhere {
    margin-block: 0;
}

.Description {
    margin-block: 4px;
}

.RelatedCourses {
    margin-block: 16px 8px;
}

.RelatedCoursesList {
    margin-block: 8px 0;
}

.Calendar {
    margin: auto;
    width: 100%;
}